#hint-container {
    position: absolute;
    animation: fadeIn 0.2s ease-in;
    width: 40%;
    height: 45%;
    background-color: rgb(16,16,16);
    left: 31%;
    top: 10%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
@keyframes expandShrink {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);} 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}